@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

header {
  display: flex;
  align-items: center;
  height: 95px;
  padding-left: 100px;
  background-color: white;
  margin-bottom: 38px;
}

header h1 {
  margin-right: 2em;
  font-size: 30px;
  color: #0290ff;
}

form input,
select,
button {
  height: 45px;
  padding: 13px 17px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

header select {
  font-size: 13px;
  color: #121212;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

table {
  padding: 0 100px;
  width: 100%;
}

tr {
  height: 170px;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 27px 28px 27px;
  margin-bottom: 15px;
}

.book-category {
  font-size: 14px;
  letter-spacing: 0;
  color: #1212127e;
  line-height: 18px;
}

.book-title {
  font-size: 22px;
  letter-spacing: -0.2px;
  color: #121212;
  line-height: 29px;
}

.book-id {
  font-size: 14px;
  letter-spacing: 0;
  color: #4386bf;
  line-height: 19px;
}

form button {
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.5px;
}

.book-delete > button {
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.5px;
}

form {
  width: calc(100% - 200px);
  margin: 40px 100px;
  padding: 29px 0;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 19px;
}

form #title {
  width: 50%;
}

form label {
  position: relative;
  top: -15px;
  font-size: 13px;
  color: #888;
  display: flex;
  flex-direction: column;
}

form #category {
  min-width: 200px;
}

#category-filter-label {
  display: inline-block;
  color: #1212127e;
}

#category-filter {
  margin-left: 10px;
}
